<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaffey.cloud.alibaba.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.gaffey.cloud.alibaba.entity.Order">
    <!--@mbg.generated-->
    <!--@Table t_order-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, product_id, `count`, money, `status`
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.gaffey.cloud.alibaba.entity.Order" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_order (user_id, product_id, `count`, 
      money, `status`)
    values (#{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{count,jdbcType=INTEGER}, 
      #{money,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER})
  </insert>

  <update id="update">
    update t_order
    set status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>